# 1

### Get detailed information on Katanas

The user was easily able to get info on the Katana by clicking on ***Types*** in the navigation.


### When was the ***Iron sword*** created

The user immediately clicked on the Bronze sword bucket and found the iron sword section right after it.

### Return to the ***Home*** page

The user was confused at first, clicking on the ***Origins*** page twice before clicking on the sword logo.


# 2

### Get detailed information on Katanas

The user was easily able to get info on the Katana by clicking on the Samurai/Katana bucketon the home page.


### When was the ***Iron sword*** created

The user clicked on ***Origins*** in the navigation and found the iron sword section right after the Bronze sword section.

### Return to the ***Home*** page

The user paused for a moment at first, then clicked on the sword logo and returned home.

# 3

### Get detailed information on Katanas

The user was also easily able to get info on the Katana by clicking on ***Types*** in the navigation.


### When was the ***Iron sword*** created

The user also clicked on ***Origins*** in the navigation and found the iron sword section right after the Bronze sword section.

### Return to the ***Home*** page

The user knew to click on the sword logo right away.
