@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #E3E3E3;
}

.flex-img {
	display: block;
	width: 100%;
}

.grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}
.opera-only :-o-prefocus,
.grid {
  word-spacing: -0.43em;
}
.unit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
}
.unit-spacer {
  padding: 8px;
  width: 100%;
}

.top-grid {
	background-color: #000;
	padding: 0 8px;
}

.middle-grid {
	background-color: #FFF;
	padding: 40px;
}

.unit-s-1-5 {
	width: 20%;
	vertical-align: middle;
}

.unit-s-4-5 {
	width: 80%;
	vertical-align: middle;
}

.unit-s-1 {
	vertical-align: middle;
}

.bucket {
	width: 100%;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	margin-right: 0.5em;
}

nav a,
nav a:link,
nav a:visited {
	text-decoration: none;
	color: #FFF;
}

p {
	font-family: 'Oswald', sans-serif;
	color: #000;
}

header {
	font-size: 0.675em;
	font-family: 'Oswald', sans-serif;
	color: #999;
	padding: 8px 8px 0 8px;
}

.image-replacement {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.bg-colour-1 {
	background-color: #FFBE00;
}

.bg-colour-2 {
	background-color: #FFC;
}

@media only screen and (min-width: 20em) {
	
	.unit-s-4-5 {
		width: 60%;
	}
	
	.unit-s-1-5 {
		width: 40%;
	}
	
}

@media only screen and (min-width: 24em) {
	
	.unit-s-4-5 {
		width: 50%;
	}
	
	.unit-s-1-5 {
		width: 50%;
	}
	
}

@media only screen and (min-width: 30em) {
	
	.unit-s-4-5 {
		width: 40%;
	}
	
	.unit-s-1-5 {
		width: 60%;
	}
	
	.bucket {
		width: 50%;
		margin-top: 1em;
	}
	
}

@media only screen and (min-width: 32em) {
	
	.unit-m-2-3-foot {
		width: 60%;
	}
	
	.unit-m-1-3-foot {
		width: 40%;
	}
	
}

@media only screen and (min-width: 41em) {
	
	.top-grid {
		padding: 0 6%;
	}
	
	.middle-grid {
		padding: 6%;
	}
	
	.bottom-grid {
		padding: 0 6%;
	}
	
	.unit-spacer {
		padding: 20px;
	}
	
	.unit-s-1 {
		display: inline-block;
	}
	
	nav li {
		font-size: 1.15em;
	}
	
}

@media only screen and (min-width: 48em) {
	
	.unit-s-4-5 {
		width: 33.333%;
	}
	
	.unit-s-1-5 {
		width: 66.666%;
	}
	
	.unit-m-2-3 {
		width: 66.666%;
	}
	
	.unit-m-1-3 {
		width: 33.333%;
	}
	
	.unit-m-2-3-foot {
		width: 66.666%;
	}
	
	.unit-m-1-3-foot {
		width: 33.333%;
	}
	
	.bucket {
		width: 33.33333%;
		margin-top: 2em;
	}
	
}

@media only screen and (min-width: 56em) {
	
	p {
		line-height: 2em;
	}
	
}

@media only screen and (min-width: 75em) {
	
	nav li {
		font-size: 1.25em;
		margin-right: 3rem;
	}
	
	p {
		font-size: 1.25em;
		line-height: 2em;
	}
	
	.bucket {
		margin-top: 4em;
	}
	
}

@media only screen and (min-width: 85em) {
	
	nav li {
		font-size: 1.5em;
		margin-right: 3rem;
	}
	
	p {
		font-size: 1.5em;
		line-height: 2em;
	}
	
}

@media only screen and (min-width: 95em) {
	
	nav li {
		font-size: 1.75em;
		margin-right: 3rem;
	}
	
	p {
		font-size: 1.75em;
		line-height: 2em;
	}
	
}

@media only screen and (min-width: 105em) {
	
	nav li {
		font-size: 2em;
		margin-right: 3rem;
	}
	
	p {
		font-size: 2em;
		line-height: 2em;
	}
	
}